USE [master]
GO
/****** Object:  Database [CHUNGKHOAN]    Script Date: 05/31/2020 10:04:16 PM ******/
CREATE DATABASE [CHUNGKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHUNGKHOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CHUNGKHOAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHUNGKHOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CHUNGKHOAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHUNGKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHUNGKHOAN]
GO
USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 05/31/2020 10:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [char](10) NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[LOAIGD] [nchar](10) NULL,
	[LOAILENH] [nchar](10) NULL,
	[SOLUONG] [int] NULL,
	[GIADAT] [float] NULL,
	[TRANGTHAILENH] [nvarchar](30) NULL,
 CONSTRAINT [PK_LenhDat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NULL,
	[SOLUONGKHOP] [int] NULL,
	[GIAKHOP] [float] NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LenhKhop] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUCTUYEN]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUCTUYEN](
	[MACP] [char](7) NOT NULL,
	[GIA2_DM] [float] NULL,
	[KL2_DM] [int] NULL,
	[GIA1_DM] [float] NULL,
	[KL1_DM] [int] NULL,
	[GIAKHOP] [float] NULL,
	[KL_KHOP] [int] NULL,
	[GIA1_DB] [float] NULL,
	[KL1_DB] [int] NULL,
	[GIA2_DB] [float] NULL,
	[KL2_DB] [int] NULL,
	[NGAYGIAODICH] [date] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (2144, N'ACB       ', CAST(N'2020-05-31T15:51:41.843' AS DateTime), N'M         ', N'LO        ', 50, 20, N'Chờ Khớp')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (2145, N'ACB       ', CAST(N'2020-05-31T15:53:44.320' AS DateTime), N'M         ', N'LO        ', 10, 30, N'Khớp 1 phần')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (2146, N'TCB       ', CAST(N'2020-05-31T16:05:59.807' AS DateTime), N'M         ', N'LO        ', 60, 10, N'Chờ Khớp')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (1023, CAST(N'2020-05-31T16:10:47.820' AS DateTime), 30, 30, 2145)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (1027, CAST(N'2020-05-31T16:56:15.943' AS DateTime), 80, 50, 2149)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (1028, CAST(N'2020-05-31T16:56:42.770' AS DateTime), 20, 60, 2150)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
INSERT [dbo].[TRUCTUYEN] ([MACP], [GIA2_DM], [KL2_DM], [GIA1_DM], [KL1_DM], [GIAKHOP], [KL_KHOP], [GIA1_DB], [KL1_DB], [GIA2_DB], [KL2_DB], [NGAYGIAODICH]) VALUES (N'OCB    ', NULL, NULL, NULL, NULL, 60, 1, NULL, NULL, NULL, NULL, CAST(N'2020-05-31' AS Date))
INSERT [dbo].[TRUCTUYEN] ([MACP], [GIA2_DM], [KL2_DM], [GIA1_DM], [KL1_DM], [GIAKHOP], [KL_KHOP], [GIA1_DB], [KL1_DB], [GIA2_DB], [KL2_DB], [NGAYGIAODICH]) VALUES (N'TCB    ', 10, 60, 20, 70, NULL, NULL, 80, 20, NULL, NULL, CAST(N'2020-05-31' AS Date))
INSERT [dbo].[TRUCTUYEN] ([MACP], [GIA2_DM], [KL2_DM], [GIA1_DM], [KL1_DM], [GIAKHOP], [KL_KHOP], [GIA1_DB], [KL1_DB], [GIA2_DB], [KL2_DB], [NGAYGIAODICH]) VALUES (N'ACB    ', 20, 50, 30, 10, 30, 30, NULL, NULL, NULL, NULL, CAST(N'2020-05-31' AS Date))
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_LenhDat_NgayDat]  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_LenhDat_TrangThaiLenh]  DEFAULT (N'Chờ khớp') FOR [TRANGTHAILENH]
GO
ALTER TABLE [dbo].[LENHKHOP] ADD  CONSTRAINT [DF_LenhKhop_NgayKhop]  DEFAULT (getdate()) FOR [NGAYKHOP]
GO
ALTER TABLE [dbo].[TRUCTUYEN] ADD  CONSTRAINT [DF_TRUCTUYEN_NGAYGIAODICH]  DEFAULT (getdate()) FOR [NGAYGIAODICH]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LenhKhop_LenhDat] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LenhKhop_LenhDat]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_LENHDAT_1] CHECK  (([GIADAT]>(0)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_LENHDAT_1]
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 50),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M')
	SET @OutCrsr = CURSOR FOR 
	SELECT ID, NGAYDAT, SOLUONG, GIADAT from LENHDAT
	WHERE MACP = @macp
	AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT 
ELSE
	SET @OutCrsr = CURSOR FOR
	SELECT ID, NGAYDAT, SOLUONG, GIADAT from LENHDAT
	WHERE MACP = @macp
	AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT ASC, NGAYDAT
OPEN @OutCrsr

GO
/****** Object:  StoredProcedure [dbo].[SP_CLEARDATE_TRUCTUYEN]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CLEARDATE_TRUCTUYEN]
AS
BEGIN
	DELETE FROM TRUCTUYEN
	WHERE CAST(NGAYGIAODICH AS DATE) != CAST(GETDATE() AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KHOPLENH_LO]
 @macp NVARCHAR( 10), @Ngay NVARCHAR( 50),  @LoaiGD CHAR, 
 @soluongMB INT, @giadatMB FLOAT 
AS
SET DATEFORMAT DMY
DECLARE @CrsrVar CURSOR ,@iddat INT, @ngaydat NVARCHAR( 50), @soluong INT, @giadat FLOAT,  @soluongkhop INT, @giakhop FLOAT, @sumslK INT, @flatK BIT
	
	SET @sumslK=0
	SET @flatK=0;
	
	IF (@LoaiGD='B')
		EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'M'
	ELSE 
		EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'B'
  
FETCH NEXT FROM @CrsrVar  INTO @iddat,  @ngaydat , @soluong , @giadat 
WHILE (@@FETCH_STATUS <> -1 AND @soluongMB >0)
	BEGIN
		IF  (@LoaiGD='B' )
			BEGIN
				-- giá bán truyền vào <=  giá mua có sẵn (giá mua giảm dần)
				IF  (@giadatMB <= @giadat)
					BEGIN
						-- số lượng bán truyền vào >= số lượng mua có sẵn
						-- bán truyền vào: khớp hết, khớp 1p còn 1p dư -> chuyển thành lệnh đặt phần dư (ok) /// mua có sẵn chắc chắn khớp hết -> insert lệnh khớp
						IF @soluongMB >= @soluong
							BEGIN
								SET @soluongkhop = @soluong                       -- số lượng khớp = số lượng mua
								SET @giakhop = @giadat                            -- giá khớp = giá mua 
								SET @soluongMB = @soluongMB - @soluong            -- số lượng bán = số lượng bán - số lượng mua
								UPDATE dbo.LenhDat  
									SET SoLuong = 0, TrangThaiLenh = N'Khớp hết'
									WHERE CURRENT OF @CrsrVar
								SET @flatK=1
							END
						
						-- số lượng bán truyền vào < số lượng mua có sẵn
						-- bán truyền vào khớp hết /// mua có sẵn khớp 1p -> insert lệnh khớp
						ELSE
							BEGIN
								SET @soluongkhop = @soluongMB                     -- số lượng khớp = số lượng mua
								SET @giakhop = @giadat                            -- giá khớp = giá mua
       
								UPDATE dbo.LENHDAT  
									SET SoLuong = SoLuong - @soluongMB, TrangThaiLenh = N'Khớp 1 phần'		-- số lượng đặt (mua) = số lượng đặt (mua) - số lượng bán
									WHERE CURRENT OF @CrsrVar
								SET @soluongMB = 0
								SET @flatK=1;
							END
						INSERT INTO LenhKhop( SoLuongKhop, GiaKhop, IDLenhDat)
						VALUES (@soluongkhop, @giakhop,@iddat);
						SET @sumslK=@sumslK+@soluongkhop
					END
			END
			
			-- giá bán truyền vào > tất cả giá mua có sẵn
			-- bán truyền vào chưa khớp -> insert lệnh đặt (ok)
	
		IF (@LoaiGD='M' )
			BEGIN
				-- giá mua truyền vào >= giá bán có sẵn ( giá bán tăng dần)
				IF  (@giadatMB >= @giadat)
					BEGIN
						-- số lượng mua truyền vào <= số lượng bán có sẵn
						-- mua truyền vào khớp hết /// bán có sẵn khớp 1 phần -> insert lệnh khớp (ok)
						IF @soluongMB < @soluong
							BEGIN
								SET @soluongkhop = @soluongMB											-- số lượng khớp = số lượng mua
								SET @giakhop = @giadat													-- giá khớp = giá bán
								UPDATE dbo.LenhDat  
									SET SoLuong = Soluong - @soluongMB, TrangThaiLenh = N'Khớp 1 phần'	-- số lượng đặt = số lượng đặt - số lượng mua truyền vô
									WHERE CURRENT OF @CrsrVar
								SET @soluongMB = 0
								SET @flatK=1
							END
						-- số lượng mua truyền vào > số lượng bán có sẵn
						-- mua truyền vào khớp hết hoặc khớp 1p còn 1p dư -> insert lenhdat p dư /// bán có sẵn chắc chắn khớp hết -> insert lenhkhop
						ELSE
							BEGIN
								SET @soluongkhop = @soluong
								SET @giakhop = @giadat
								SET @soluongMB = @soluongMB - @soluong
       
								UPDATE dbo.LENHDAT  
									SET SoLuong = 0, TrangThaiLenh = N'Khớp hết'
									WHERE CURRENT OF @CrsrVar
								END
								SET @flatK=1

						INSERT INTO LenhKhop( SoLuongKhop, GiaKhop, IDLenhDat)
						VALUES (@soluongkhop, @giakhop,@iddat);
						SET @sumslK=@sumslK+@soluongkhop
					END
			END
			
			-- giá mua truyền vào < tất cả giá bán có sẵn
			-- mua truyền vào chưa khớp -> insert lệnh đặt
			--ELSE
				--GOTO THOAT
		FETCH NEXT FROM @CrsrVar INTO  @iddat, @ngaydat , @soluong , @giadat
	END
IF (@soluongMB > 0)
	BEGIN
		IF (@flatK=1)
			BEGIN
				INSERT INTO dbo.LenhDat
				(
					maCP,
					ngaydat,
					loaiGD,
					loailenh,
					soluong,
					giadat,
					trangthailenh
				)
				VALUES
				(   @macp,        -- maCP - char(10)
					GETDATE(), -- ngaydat - datetime
					@LoaiGD,       -- loaiGD - nchar(10)
					N'LO',       -- loailenh - nchar(10)
					@soluongMB,         -- soluong - int
					@giadatMB,       -- giadat - float
					N'Khớp 1 phần'        -- trangthailenh - nvarchar(30)
					)
			END
		ELSE
			BEGIN
				INSERT INTO dbo.LenhDat
				(
					maCP,
					ngaydat,
					loaiGD,
					loailenh,
					soluong,
					giadat,
					trangthailenh
				)
				VALUES
				(   @macp,        -- maCP - char(10)
					GETDATE(), -- ngaydat - datetime
					@LoaiGD,       -- loaiGD - nchar(10)
					N'LO',       -- loailenh - nchar(10)
					@soluongMB,         -- soluong - int
					@giadatMB,       -- giadat - float
					N'Chờ Khớp'        -- trangthailenh - nvarchar(30)
					)
			END
	END
					
--THOAT:
	SELECT @sumslK
	RETURN @sumslK
	
    CLOSE @CrsrVar
    DEALLOCATE @CrsrVar
GO
/****** Object:  StoredProcedure [dbo].[SP_RESET_TTL]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_RESET_TTL]
AS
BEGIN
	UPDATE LENHDAT SET TRANGTHAILENH = N'Chưa khớp' WHERE TRANGTHAILENH = N'Chờ khớp' AND (CAST(NGAYDAT AS DATE)) < CAST(GETDATE() AS DATE)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_TRUCTUYEN]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery22.sql|7|0|C:\Users\PLQuynh\AppData\Local\Temp\~vs7A5F.sql

CREATE PROCEDURE [dbo].[SP_UPDATE_TRUCTUYEN]
	@MACP CHAR(7) 
AS
BEGIN

	--DECLARE @MACP CHAR(7)
	--MUA 1
	DECLARE @GIA1_DM FLOAT, @KL1_DM INT
	SET @GIA1_DM = 0
	SET @KL1_DM = 0

	SET @GIA1_DM = (SELECT MAX(TG.GIADAT) 
					FROM (SELECT * 
							FROM LENHDAT 
							WHERE LOAIGD = 'M' AND SOLUONG > 0 AND MACP = @MACP AND CAST(LENHDAT.NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG)

	SELECT @GIA1_DM = BG.GIADAT, @KL1_DM = SUM(BG.SOLUONG)
	FROM (SELECT * 
			FROM (SELECT *	
					FROM LENHDAT 
					WHERE LOAIGD = 'M' AND SOLUONG > 0 AND MACP = @MACP AND CAST(LENHDAT.NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG
			WHERE TG.GIADAT = @GIA1_DM) BG
	GROUP BY BG.GIADAT

	UPDATE TRUCTUYEN
	SET GIA1_DM = @GIA1_DM, KL1_DM = @KL1_DM
	WHERE MACP = @MACP AND @GIA1_DM > 0 AND @KL1_DM >0

	---MUA 2
	DECLARE @GIA2_DM FLOAT, @KL2_DM INT
	SET @GIA2_DM = 0
	SET @KL2_DM = 0

	SET @GIA2_DM = (SELECT MAX(TG.GIADAT)
					FROM (SELECT *
							FROM LENHDAT
							WHERE LOAIGD = 'M' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG
					WHERE TG.GIADAT < (SELECT MAX(TG.GIADAT)
											FROM (SELECT * 
													FROM LENHDAT
													WHERE LOAIGD = 'M' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG))

	SELECT @GIA2_DM = BG.GIADAT, @KL2_DM = SUM(BG.SOLUONG)
	FROM (SELECT *
			FROM (SELECT *
					FROM LENHDAT
					WHERE LOAIGD = 'M' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG
			WHERE TG.GIADAT = @GIA2_DM) BG
	GROUP BY BG.GIADAT

	UPDATE TRUCTUYEN
	SET GIA2_DM = @GIA2_DM, KL2_DM = @KL2_DM
	WHERE MACP = @MACP AND @GIA2_DM > 0 AND @KL2_DM >0 

	---BAN 1
	DECLARE @GIA1_DB FLOAT, @KL1_DB INT
	SET @GIA1_DB = 0
	SET @KL1_DB = 0

	SET @GIA1_DB = (SELECT MIN(TG.GIADAT)
					FROM (SELECT *
							FROM LENHDAT
							WHERE LOAIGD = 'B' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG)
	
	SELECT @GIA1_DB = BG.GIADAT, @KL1_DB = SUM(BG.SOLUONG)
	FROM (SELECT *
			FROM (SELECT *
					FROM LENHDAT WHERE LOAIGD = 'B' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG
			WHERE TG.GIADAT = @GIA1_DB) BG
	GROUP BY BG.GIADAT

	UPDATE TRUCTUYEN
	SET GIA1_DB = @GIA1_DB, KL1_DB = @KL1_DB
	WHERE MACP = @MACP AND @GIA1_DB > 0 AND @KL1_DB > 0

	---BAN 2
	DECLARE @GIA2_DB FLOAT, @KL2_DB INT
	SET @GIA2_DB = 0
	SET @KL2_DB = 0

	SET @GIA2_DB = (SELECT MIN(TG.GIADAT)
					FROM (SELECT *
							FROM LENHDAT
							WHERE LOAIGD = 'B' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG
					WHERE TG.GIADAT > (SELECT MIN(TG.GIADAT)
											FROM (SELECT *
													FROM LENHDAT
													WHERE LOAIGD = 'B' AND SOLUONG > 0 AND MACP = @MACP AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG))

	SELECT @GIA2_DB = BG.GIADAT, @KL2_DB = SUM(BG.SOLUONG)
	FROM (SELECT *
			FROM (SELECT *
					FROM LENHDAT 
					WHERE LOAIGD = 'B' AND MACP =@MACP AND SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE)) TG
			WHERE TG.GIADAT = @GIA2_DB) BG
	GROUP BY BG.GIADAT

	UPDATE TRUCTUYEN
	SET GIA2_DB = @GIA2_DB, KL2_DB = @KL2_DB
	WHERE MACP = @MACP AND @GIA2_DB > 0 AND @KL2_DB > 0

END

GO
/****** Object:  Trigger [dbo].[TR_AFTERDELETE]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_AFTERDELETE] 
   ON  [dbo].[LENHDAT]
   AFTER DELETE
AS 

BEGIN
	DECLARE @maCP CHAR(7)
	SET @maCP = (SELECT MACP FROM deleted)

	IF EXISTS (SELECT TOP 1 MACP FROM LENHDAT WHERE MACP = @maCP)
		BEGIN
			DELETE FROM TRUCTUYEN WHERE MACP = @maCP
			INSERT INTO TRUCTUYEN (MACP)
			VALUES (@maCP)
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP
		END
	ELSE
		BEGIN
			DELETE FROM TRUCTUYEN WHERE MACP = @maCP
		END
END
GO
ALTER TABLE [dbo].[LENHDAT] ENABLE TRIGGER [TR_AFTERDELETE]
GO
/****** Object:  Trigger [dbo].[TR_AFTERINSERT]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_AFTERINSERT] 
   ON  [dbo].[LENHDAT]
   AFTER INSERT
AS 
BEGIN
	DECLARE @maCP CHAR(7), @loaiGD CHAR(1), @soLuong INT, @giaDat FLOAT

	SET @loaiGD = (SELECT LOAIGD FROM inserted)
	SET @maCP = (SELECT MACP FROM inserted)
	SET @giaDat = (SELECT GIADAT From inserted)
	SET @soLuong = (SELECT SOLUONG FROM inserted)

	IF EXISTS (SELECT MACP FROM TRUCTUYEN WHERE MACP = @maCP)
		BEGIN
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP
		END
	ELSE 
	-- khi insert cp mới không check lại nên cứ insert mới luôn
		BEGIN 
		IF (@loaiGD = 'M') 
			BEGIN
				INSERT INTO TRUCTUYEN (MACP, GIA1_DM, KL1_DM)
				VALUES (@maCP, @giaDat, @soLuong)
				END
		ELSE
		BEGIN
			INSERT INTO TRUCTUYEN (MACP, GIA1_DB, KL1_DB)
			VALUES (@maCP, @giaDat, @soLuong)
		END
	END
END
GO
ALTER TABLE [dbo].[LENHDAT] ENABLE TRIGGER [TR_AFTERINSERT]
GO
/****** Object:  Trigger [dbo].[TR_AFTERUPDATE]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_AFTERUPDATE] 
   ON  [dbo].[LENHDAT]
   AFTER UPDATE
AS 
BEGIN
	--EXEC SP_CLEARDATE_TRUCTUYEN
	--EXEC SP_RESET_TTL

	DECLARE @maCP_D CHAR(7), @maCP_I CHAR(7), @loaiGD CHAR(1), @soLuong INT, @giaDat FLOAT

	SET @maCP_D = (SELECT TOP(1) MACP FROM deleted)
	SET @maCP_I = (SELECT TOP(1) MACP FROM inserted)
	SET @loaiGD = (SELECT TOP(1) LOAIGD FROM inserted)
	SET @soLuong = (SELECT TOP(1) SOLUONG FROM inserted)
	SET @giaDat = (SELECT TOP(1) GIADAT FROM inserted)
	
	IF (UPDATE(SOLUONG) OR UPDATE(GIADAT))
		BEGIN
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
		END

	IF (UPDATE(LOAIGD))
		BEGIN
			DELETE FROM TRUCTUYEN WHERE MACP = @maCP_I
			INSERT INTO TRUCTUYEN (MACP)
			VALUES (@maCP_I)
			EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
		END

	IF (UPDATE(MACP))
		BEGIN
			IF EXISTS (SELECT TOP 1 MACP FROM LENHDAT WHERE MACP = @maCP_D)
				BEGIN
					DELETE FROM TRUCTUYEN WHERE MACP = @maCP_D
					INSERT INTO TRUCTUYEN (MACP)
					VALUES (@maCP_D)
					EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_D
				END
			ELSE
				BEGIN
					DELETE FROM TRUCTUYEN WHERE MACP = @maCP_D
				END

			IF EXISTS (SELECT TOP 1 MACP FROM TRUCTUYEN WHERE MACP = @maCP_I)
				BEGIN
					EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
				END
			ELSE
				BEGIN
					INSERT INTO TRUCTUYEN (MACP)
					VALUES (@maCP_I)
					EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP_I
				END
		END
END
GO
ALTER TABLE [dbo].[LENHDAT] ENABLE TRIGGER [TR_AFTERUPDATE]
GO
/****** Object:  Trigger [dbo].[AF_INSERT_KHOP]    Script Date: 05/31/2020 10:04:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[AF_INSERT_KHOP]
	ON [dbo].[LENHKHOP]
	AFTER INSERT
	AS
	BEGIN
	    DECLARE @maCP CHAR(7), @giaKhop FLOAT, @klKhop INT
		SET @maCP=(SELECT MACP FROM Inserted INNER JOIN dbo.LENHDAT ON LENHDAT.ID = Inserted.IDLENHDAT) 
		--IF EXISTS (SELECT MACP FROM dbo.TRUCTUYEN WHERE MACP=@maCP)
		SET @giaKhop= (SELECT GIAKHOP FROM Inserted)
		SET @klKhop = (SELECT SOLUONGKHOP FROM Inserted)

		DELETE FROM TRUCTUYEN WHERE MACP = @maCP
		INSERT INTO TRUCTUYEN (MACP)
		VALUES (@maCP)
		EXEC SP_UPDATE_TRUCTUYEN @MACP = @maCP
		
		UPDATE dbo.TRUCTUYEN SET GIAKHOP=@giaKhop, KL_KHOP = @klKhop WHERE MACP=@maCP

		
	END
GO
ALTER TABLE [dbo].[LENHKHOP] ENABLE TRIGGER [AF_INSERT_KHOP]
GO
USE [master]
GO
